@charset "UTF-8";


h1{
	text-align: center;
}

#back{
	width: 70vw;
	margin-left: 15vw;
	
}

.op{
	display:inline-block;
	width: 70vw;
	height: 8vh;
}
.con{
	display: inline-block;
	
}
.pr2{

}

h2{
	display: inline-block;
	width: 20%;
	text-align:center;
	align-items: center;
}
p{
	display: inline-block;
	text-align: center;
}
.hidden{
	display: none;
}

h4 {
	margin-top: 10px;
	margin-bottom: 5px;
}
.prflex {
	display: flex;	
}
.prbg {
	height: 270px;
}
.prbg h2 { 
	align-self: center;
}
.con {
	margin-left: 15%;
}
.btn{
	display: inline-block;
	margin-left: 40%;
}
.btn2{
	display: flex;
	flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
.btn2 input{
	width: 100px;
	height: 30px;
}
.asitem{

}
.asitem p input{
	width: 30px;
	height: 30px;
}
.op2{
	margin-right: 10%;
	margin-left: 30px;
}
.asitem,
.date,
.time{
	width: 40vw;
}
.date input{
	margin-left: 5%;
}

.time input{
	margin-left: 3%;
}

.pr{
	margin-left: 20%;
}
.pr input{
	width: 75%;
	height: 15%;;
	font-size: 30px;
}

