@charset "UTF-8";

body {
	background-color: white;
}

#wrap {
    width: 450px;
    height: 273px;
    margin: 0 auto;
    background-color: rgb(192, 192, 192);
}
#delete {
    width: 450px;
    height: 315px;
    margin: 0 auto;
    background-color: rgb(192, 192, 192);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    line-height: 24px;
}
h1 {
    color: rgb(0,0,255);
	margin: 0;
	text-align: center;
	
}
#check{
    color: black;
	margin: 0;
	text-align: center;
	
}

table td, th {
    border: gray solid 1px;
    padding: 5px;
    text-align: center;
    color: rgb(192, 192, 192);
}


th {
    background-color: rgb(0, 64, 128);
}

a {
    text-decoration: none;
    color: rgb(192, 192, 192);
    
}

a:hover {
    text-decoration: underline;
    color: rgb(192, 192, 192);
}
