@charset "UTF-8";

body {
	background-color: white;
}

h2{
	display: inline-block;
	width: 20%;
	text-align:center;
	align-items: center;
}
p{
	display: inline-block;
	text-align: center;
}

a {
    text-decoration: none;
    color: rgb(192, 192, 192);
    
}

a:hover {
    text-decoration: underline;
    color: rgb(192, 192, 192);
}

#back{
	width: 70vw;
	margin-left: 15vw;
}

#back a{
	text-decoration: none;
	width: 50px;
	height: 35px;
}
#back a:hover{
	background-color: #77BBDD;
	margin: 0 auto;
	width: 50px;
	height: 35px;
}
