#wrap {
    width: 970px;
    height: 1000px;
    margin: 0 auto;
    background-color: white;
}

/* 기존 스타일들 */
body {
	background-color: #d3d3d3;
}

h1 {
    color: blue;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    line-height: 24px;
}

table td, th {
    border: gray solid 1px;
    padding: 5px;
    text-align: center;
}

th {
    background-color: skyblue;
}

img {
    width: 220px;
    height: 300px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: navy;
}